body {
    background:#1F1E33;
    font-family:Arial, sans-serif;
}

.assignment {
    background:#4E4B80;
    display:flex;
    padding:10px;
    margin:10px;
    border-radius:10px;
}

.assignment img {
    width:200px;
    margin: 10px;
    border:5px double #4E4B80;
}

.assignment img:hover {
    width:200px;
    margin: 10px;
    border:5px double #272640;
}

h1 {
    color: #7571BF;
    text-align:center;
}

a {
    text-decoration: none;
    color:#7571BF;
}

a:hover {
    text-decoration: none;
    color:#272640;
}